@use './utils/colors' as *;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 64px;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: $background-color;
	font-size: 1.6rem;
}

a {
	text-decoration: none;
}
 
img {
	height: auto;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

textarea {
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
