@use '../utils/colors' as *;

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 4em 2em 2em 2em;
	background-image: $hero-img-shadow, url(../img/djnielo-wodzirej-header.jpg);
	background-color: $main-navy;
	background-position: 42.5%;
	background-size: cover;

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__title {
		margin-bottom: 0.5em;
		font-size: 4rem;
		font-weight: 600;
		text-align: center;
		color: $main-gold;
		text-transform: uppercase;
	}

	&__btn {
		position: relative;
		padding: 0.7em 1.6em;
		margin-bottom: 1em;
		font-size: 1.6rem;
		background-color: $main-gold;
		border: none;
		text-transform: uppercase;
		overflow: hidden;
		border-radius: 2px;
		transition: background-color, box-shadow 0.3s;
		cursor: pointer;
	}

	&__btn:focus {
		outline: none;
		// background-color: $light-gold;
	}

	&__btn:hover {
		background-color: $medium-gold;
		box-shadow: 0px 0px 15px black;
	}

	&__circle {
		position: absolute;
		top: 20px;
		left: 80px;
		width: 60px;
		height: 60px;
		background-color: $light-gold;
		border-radius: 50%;
		transform: translate(-50%, -50%) scale(0);
		animation: decline 0.3s;
	}

	@keyframes decline {
		to {
			transform: translate(-50%, -50%) scale(2);
			opacity: 0;
		}
	}

	&__text {
		color: $light-gold;
		text-align: center;
		font-size: 1.8rem;
	}
}

@media (min-width: 768px) {
	.header {
		&__title {
			font-size: 5.2rem;
		}

		&__btn {
			font-size: 1.8rem;
			margin-bottom: 1.5em;
		}

		&__text {
			font-size: 2rem;
		}
	}
}

@media (min-width: 992px) {
	.header {
		&__title {
			font-size: 5.5rem;
		}

		&__btn {
			font-size: 1.8rem;
			margin-bottom: 1.5em;
		}

		&__text {
			font-size: 2.2rem;
		}
	}
}

@media (min-width: 1200px) {
	.header {
		&__title {
			font-size: 6.8rem;
		}

		&__btn {
			font-size: 2rem;
			margin-bottom: 1.5em;
		}

		&__text {
			font-size: 2.4rem;
		}
	}
}

@media (min-width: 2000px) {
	.header {
		&__title {
			font-size: 10rem;
		}

		&__btn {
			font-size: 2.6rem;
			margin-bottom: 1.5em;
		}

		&__text {
			font-size: 3rem;
		}
	}
}
